


body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  
  min-width: 320px;
  min-height: 100vh;
}

header{
  margin:15px;
  display:flex;
  flex-direction: row;
  gap: 65px;
  
}



.logoInfo{
  display:flex;
  position:relative;
  flex-direction: row;
gap: 3px;
}

nav{
  margin: 25px;
}



.vinyl{
  display: flex;
  animation: rotates 100s linear infinite;
  cursor: pointer;
  background-blend-mode: color;
  margin-right:auto ;
  width: 8rem;
  height:8rem;
}


@keyframes rotates {
    from {transform: rotate(0)}
    to {transform: rotate(2080deg)}
}

h1{
  font-size: 2rem;
}

h2 {
  display: flex;
  justify-content: center;

}

h3{
  display:flex;
  justify-content: center;
}

.signin{
  display:flex;
  position: relative;
flex-direction: row;
  justify-content: center;
  align-items:center;
  justify-items: center;
 
 
}


.fewVinyl-container{
  display:grid;
  grid-template-columns: repeat(4, 2fr);
  justify-content: center;
  align-items:center;
  margin-left: 1%;
  grid-gap:0;

  
}

.exampleVinyl{
   display: flex;
  cursor: pointer;
  background-blend-mode: color;
  margin-right:auto ;
  width: auto;
  height:23rem;
}

.form{
  display:flex;
  position: relative;
flex-direction: column;
  justify-content: center;
  align-items:center;
  justify-items: center;
 
 
}


input {
  width:205px;
  height: 26px;
   display:flex;
  justify-content: center;
  align-content: center;
  text-align:center
}

textarea{
  display:flex;
  width:80%;
  height:60vh;
  box-sizing: border-box;
  border-radius: 0.9rem;
  box-shadow: 0.25rem 0.25rem 0.4rem;
}



.bar {
  display: flex;
  border: 1.5px black solid;
  justify-content: center;
  align-items: center;
  width: 210px;
  height:29px;
  background-color: lightgreen;
}

.submit{
    display: flex;
  border: 1.5px black solid;
  justify-content: center;
  align-items: center;
  width: 106px;
  height:29px;
  background-color: green;
}

.submit:hover{
  background-color: green;
  color: white;
  text-decoration: solid;
}




.gridForInfo{
  display: flex;

  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center ;
}

main {
  display: flex;
  flex-direction: column;
  gap: 35px;
}



.nameButton {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 29px;
  background-color: lightblue;
  
}

.countryButton {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 29px;
  background-color: lightblue;
  
}

.albumButton {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 29px;
  background-color: lightblue;
  
}

.commentText {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 29px;
  background-color: lightblue;
}

.yearButton {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 29px;
  background-color: lightblue;
  
}

